body{
margin:0;
padding:0;
background:#ccc;
}
ul{position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%)
margin:0;
padding:0;
display:table;

}
ul li{list-style:none;
margin:0 40px;}
ul li a .fab{
	font-size:30px;
	color:#262626;
	line-height:40px;
	transition:.5s;
}
ul li a{
	position:relative;
	display:block;
	width:40px;
	height:40px;
	background:#fff;
	text-align:center;
	transform: perspective(1000px) rotate( 0deg) skew(0deg) translate(0,0);
	transition:.5s;
	box-shadow:-10px 10px 5px rgba(0,0,0,.5);
}
  /* ul li a:before{  */
	content:'';
	position:absolute;
	top:10px;
	left:-20px;
	height:100%;
	width:20px;
	background:#b1b1b1;
	transform:rotate(0deg) skewy(-45deg);
	transition:.5s;
}
  /* ul li a:after{   */
	content:'';
	position:absolute;
	bottom:-20px;
	left:-10px;
	height:20px;
	width:100%;
	background:#b1b1b1;
	transform:rotate(0deg) skewx(-45deg);
	transition:.5s;
}
  
ul li a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(15deg) translate(-40px,-20px);
  	box-shadow:-30px 30px 30px rgba(0,0,0,.5);
}
ul li:hover .fab{
	color:#fff;
}
ul li:nth-child(1) a{background:#3b5998 ;}
ul li:nth-child(2) a{background: #00aced;}
ul li:nth-child(3) a{background: #517fa4 ;}




