*{
  margin:0;
	padding:0;
}
body {
  font-family: Segeo UI, Tahoma, Geneva, Verdana, sans-serif;
}
.main{
  background: dodgerblue;
}
.insidemain{
  background: rgba(0,0,0,0.1);
}
#card{
  margin-top:20%;
  background: #fff;
  border-radius: 1%;
  box-shadow: 0 5px 5px 5px rgba(138,121,93,0.5);
  padding: 30px;
  z-index: 5;
}
#insidecard{
  top: 30%;
  position: relative;
}
#insidecard .profile-img{
  top: 50%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%,-50%);
  height: 150px;
  width: 150px;
  position: absolute;
  top: -50px;
  border-radius: 50%;
  border: 5px solid #1b81e5;
}
.header{
  margin-top: 20%;
  text-align: center;
  color: #007bff;
}