body{ 
background-color:gray;
font-family:verdana,geneva,arial;
font-weight:nornal;S}
h1,h2{
border-bottom:1px solid black;
text:decoration:none;}
p.red{color:red;
font-size:25px;
font-family:helvetica;
background-color:white;
padding:20px;
border-color:black;
border-width:2px;
border-style:solid;
margin-left:0px;
}
p.green{color:green;
font-size:25px;
font-family:helvetica;
background-color:white;
padding:20px;
border:black 2px solid;
margin-left:500px;
margin-top:20px;
}
.imagec1{
display: block;
margin-left: auto;
margin-right: auto;
background-color:white;
padding:2px;
border-color:black;
border-width:2px;
border-style:solid;
}
.imagec2{
display: block;
margin-left:100px
background-color:white;
padding:2px;
border-color:black;
border-width:2px;
border-style:solid;
}
.search-box{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height:40px;
	border-radius:40px;
	background:#2f3640;
	padding:10px;
	}
.search-btn{
	color:#e84118;
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	background:#2f3640;
	display:flex;
	justify-content: center;
	align-items: center;
}
*{margin:0px;padding:0px;}
#container ul{list-style:none;
}
#container ul li{background-color:white;
width:150px;
border:1px solid red;
height:40px;
line-height:40px;
text-align:center;
float:left;
font-size:16px;}
#container ul li:hover{
	background-color:green;
}
#container ul ul{display:none;}
#container ul li:hover > ul{display:block;
}
#container ul ul ul{margin-left:160px;top:80px;position:absolute}