html{
	height:100%;
	position:relative;
}
body {
	margin:0;
	padding:0;
	font-family: Segeo UI, Tahoma, Geneva, Verdana, sans-serif;
}
#formal-img {
	display: block;
	margin: auto;
	margin-top: 2rem;
	border-radius: 50%;
	border: #9396b1 3px solid;
}
#footer {
	width:100%;
	position:absolute;
	background-color: #3e4551;
	color: #ffffff;
}

.list-unstyled li p a:hover {
	color: #ffffff;
	text-decoration: none;
}

#footer-last {
	background-color: #282a2c;
}

#card {
	border: 3px solid rgb(232, 235, 239, 0.7);
	border-radius: 10px;
	z-index: 6px;
	padding: 30px;
}
#logo{
	display:block;
	max-height:30px;
}
#navig{
	background-color:#2962ff;
}