@import "footer";
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Segeo UI", Tahoma, Geneva, Verdana, sans-serif;
}

#formal-img {
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: 50%;
  border: #9396b1 3px solid;
}

.vl {
  border-left: 2px solid #ffffff;
  height: 30px;
  position: static;
  right: 30%;
  margin-top: 9px;
  top: 3px;
}

#footer {
  background-color: #3e4551;
  color: #ffffff;
}

.list-unstyled li p a:hover {
  color: #ffffff;
  text-decoration: none;
}

#footer-last {
  background-color: #282a2c;
}

#card {
  border: 3px solid rgb(232, 235, 239, 0.7);
  border-radius: 10px;
  z-index: 6px;
  padding: 30px;
}
#logo{
	display:block;
	max-height:30px;
}