 body{ margin:0px;}
#container{width:892px;
height:px;
margin:0px auto;}
.header{background:skyblue;
height:100px;
width:890px;
border:solid 2px #000;
color:white;}
.nav{background:gray;
height:60px;
width:888px;
border:solid 2px #000;
font-weight:bold;
}
.sidebar{
	float:left;
	background:#9c9f84;
height:1000px;
width:0px; 
border-left:solid 2px #000;
border-bottom:solid 2px #000;
border-bottom-left-radius:1em;
}
.main{float:left;
width:886px;
height:1000px;
background:#e5e4d7;
border-right:solid 2px #000;
border-left:solid 2px #000;
border-bottom:solid 2px #000;
overflow:auto;
font-size:16px;
font-family:arial;
border-bottom-right-radius:1em;
}

img{display:block;
	max-width:100%;
	max-height:100%;
}
@media (max-width: 750px){
	.sidebar{display:none;}
	#box{background-color:red;}
} 












 